#wrapper {
    width: 80%;
    margin: auto;
    padding: 50px;
}

header {
    margin-bottom: 30px
}

header p {
    font-size: 18px;
}

header h1 {
    font-family: 'Corben', serif;
    font-size: 28px;
    margin-bottom: 0
}

header h1 {
    font-weight: bold
}

header h1 a, header h1 a:hover {
    color: #000;
    text-decoration: none
}

#post h3 {
    margin: 60px 0 20px
}