<p>Below are some of my personal projects.</p>
<ul>
  <li><a href="http://www.gusgorman.com">GusGorman.com</a></li>
  <li><a href="http://www.awarenesscolor.com">Awareness Color</a></li>
</ul>
<h4>Small Databases</h4>
<ul>
  <li>African-American Programers in Television and Film</li>
  <li>Color Awareness Chart</li>
</ul>
