<p>What I'm doing these days. Last updated 8/21/2024</p>
<ul>
  <li>I've become a beekeeping apprentice!</li>
  <li>Updating Awareness Color</li>
</ul>

<h4>Reading</h4>
<ul>
  <li>Termination Shock by Neal Stephenson</li>
</ul>

<h4>Playing</h4>
<ul>
  <li>Star Wars Lego: Meh.</li>
</ul>

<h4>Watching</h4>
<ul>
  <li>VEEP</li>
</ul>