<p>What I'm doing these days. Last updated 8/9/2024</p>
<ul>
  <li>I've become a beekeeping apprentice!</li>
  <li>Working hard on <a href="http://www.gusgorman.com">GusGorman.com</a></li>
  <li>
    Working hard on <a href="http://www.tobiaswright.com">tobiaswright.com</a>
  </li>
</ul>

<p>Reading</p>
<ul>
  <li>Termination Shock by Neal Stephenson</li>
</ul>

<p>Playing</p>
<ul>
  <li>Star Wars Legos: Meh.</li>
</ul>

<p>Watching</p>
<ul>
  <li>The Olympics: Coverage this year has been fantastic</li>
</ul>

<p>Done!</p>
<ul>
  <li>Watched: The Three Body Problem: Now I want to read the book</li>
  <li>
    Brooklyn Nine-nine: Was skeptical at first, but solid from beginning to end
  </li>
  <li>Lego City Undercover: 100% complete!</li>
</ul>
