<p class="text-2xl">
  Tobias Wright is a dynamic technologist who has built a successful, two
  decade, career in software engineering. In his current role as a software
  engineer at Booz Allen Hamilton, where he enables technology success. Tobias
  has the uncanny ability to combine technical know-how with a high degree of
  emotional intelligence.
</p>
<p>
  Prior to joining Booz Allen Hamilton, Tobias was a software engineer at
  Microsoft where he worked in startups, and later as a consultant to Microsoft
  partners, a Senior Software Engineer at Condé Nast where he helped the company
  design and build its adtech products for such brands as New Yorker, Wired and
  Vogue. Tobias has also held lead engineering positions at Victoria’s Secret,
  Media Ocean, and Simply Good Media.
</p>
<p>
  Tobias Wright graduated with honors from New York University and Alabama A&M.
  While at Alabama A&M he played Offensive tackle on their NCAA division 1
  football team. He is a former member of the New York University Alumni Board
  of Directors and is a former Community Education instructor at Temple
  University. Tobias is a strong advocate for diversity and inclusion in
  technology and continues to seek opportunities to provide mentorship and a
  welcoming and safe environment for those new to programming to learn and grow.
</p>
