---
import Layout from "../layouts/Layout-HTML.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Tobias Wright.">
  <div
    class="container mx-auto h-screen md:pt-24 pt-20 bg-no-repeat bg-center bg-top bg-contain md:bg-auto"
    style="background-image: url('../speech-bubble.png')"
  >
    <h1 class="text-center mt-auto md:mt-12 font-lede md:text-[170px] md:leading-[130px] md:w-[600px] text-[45px] m-auto leading-none">Tobias Wright</h1>
    <main>
      <p class="text-center md:w-auto w-4/5 m-auto">
        <strong>Software architect</strong>, you can find me on <a
          class="underline" href="https://github.com/tobiaswright">Github</a
        > and <a class="underline" href="https://www.linkedin.com/in/tobiaswright/">Linkedin</a>.
      </p>
    </main>
  </div>
</Layout>
