---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Section_About from "../components/homepage/Section-about.astro";
import Section_Now from "../components/homepage/Section-now.astro";
import Section_Projects from "../components/homepage/Section-projects.astro";
---

<Layout title="Welcome to Tobias Wright">
  <Section header="about">
    <Section_About />
  </Section>

  <Section header="projects">
    <Section_Projects />
  </Section>

  <Section header="writing">
    <p>Coming soon.</p>
  </Section>

  <Section header="now">
    <Section_Now />
  </Section>
</Layout>
