---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Tobias Wright">
    <ul class="text-center mt-auto md:mt-48 text-lg">
      <li><a class="no-underline" href="https://github.com/tobiaswright">Github</a></li>
      <li><a class="no-underline" href="https://www.linkedin.com/in/tobiaswright/">Linkedin</a></li>
      <li class="text-orange-200">Writing</li>
      <li class="text-orange-200">Projects</li>
    </ul>
</Layout>
