---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Tobias Wright.">
	<main>
		<p>
			Hi, I'm <strong>tobias wright</strong>, I'm a frontend engineer, you can find me on github, linkedin and some times on twiter.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
