---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Tobias Wright." header="Tobias Wright">
	<main>
		<p class="text-center">
			frontend engineer, you can find me on <a href="https://github.com/tobiaswright">Github</a> and <a href="https://www.linkedin.com/in/tobiaswright/">Linkedin</a>.
		</p>
	</main>
</Layout>

<style>
	h1 { color : red}
</style>
