---
import Layout from "../layouts/Layout-HTML.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Tobias Wright">
  <div>
    <h1 class="hidden text-center mt-auto md:mt-12 font-lede">Tobias Wright</h1>
    <ul class="text-center mt-auto md:mt-40 font-lede text-4xl space-x-4">
      <li class="my-4">github</li>
      <li class="my-4">linkedin</li>
      <li class="my-4">writing</li>
      <li class="my-4">projects</li>
      <li class="my-4">contact</li>
    </ul>
  </div>
</Layout>
