---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Section_About from "../components/homepage/Section-about.md";
import Section_Now from "../components/homepage/Section-now.md";
import Section_Projects from "../components/homepage/Section-projects.md";
import Section_Write from "../components/homepage/Section-write.astro";

---

<Layout title="Welcome to Tobias Wright">

  <Section header="">
    <Section_About />
  </Section>

  <Section header="projects">
    <Section_Projects />
  </Section>

  <Section header="writing">
    <Section_Write />
  </Section>

  <Section header="now">
    <Section_Now />
  </Section>
</Layout>
