---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Tobias Wright. Now">
    <h2>/now</h2>
    <ul>
        <li>Working hard on <a href="http://www.gusgorman.com">GusGorman.com</a></li>
        <li>Working hard on <a href="http://www.tobiaswright.com">tobiaswright.com</a></li>
        <li>Went to first class as a beekeepers apprencetice</li>
        <li>Putting miles on my new bike</li>
    </ul>    
</Layout>