---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Tobias Wright. Now">
    <h2>/now</h2>
    <p>Last updated: 7/17/2024</p>
    <ul>
        <li>Working hard on <a href="http://www.gusgorman.com">GusGorman.com</a></li>
        <li>Working hard on <a href="http://www.tobiaswright.com">tobiaswright.com</a></li>
        <li>Working on out family reunion</li>

    </ul>
    
    <p>Just Finished:</p>
    <ul>
        <li>Brooklyn Nine-nine: Was skeptical at first, but solid from beginning to end</li>
        <li>Lego City Undercover: 100% complete!</li>
    </ul>
</Layout>