---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---
<Layout title="Welcome to Tobias Wright">

<h2>Writing!</h2>
<ul>
  {posts.map((post: any) => (
    <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
  ))}
</ul>

</Layout>