<footer class="fixed bottom-10 text-zinc-500">
    <p>
        This is the website of Tobias Wright, frontend developer. Site hosted <a href="https://github.com/tobiaswright/tobiaswright.github.io">by Github Pages.</a>
    </p>
</footer>