<footer>
    <ul class="md:hidden flex justify-center list-none font-['Comic_Neue'] text-xl border-black outline border-4 p-1 bg-yellow-400">
        <li class=" mr-8"><a class="no-underline hover:no-underline text-black" href="../">Return Home</a></li>
        <li class="mr-8"><a class="no-underline hover:no-underline text-black" href="https://www.linkedin.com/in/tobiaswright/" target="_blank">Linkedin</a></li>
        <li><a class="no-underline hover:no-underline text-black" href="https://github.com/tobiaswright" target="_blank">Github</a></li>	
    </ul>
    
    <p class="text-zinc-500 text-center">
        This is the website of Tobias Wright, solutions architect. Site built with <a href="https://astro.build/">Astro</a> and hosted by <a href="https://github.com/tobiaswright/tobiaswright.github.io">Github Pages.</a>
    </p>
</footer>