<footer>
    <p class="text-zinc-500 text-center">
        This is the website of Tobias Wright, solutions architect. Site hosted by <a href="https://github.com/tobiaswright/tobiaswright.github.io">Github Pages.</a>
    </p>
</footer>