<footer>
    <div class="md:hidden flex justify-center item-center my-4">
        <ul class="p-2 px-4 m-0 list-none font-['Comic_Neue'] text-lg font-bold border-black outline border-4 bg-yellow-400">
            <li class="inline mr-5"><a class="no-underline hover:no-underline text-black" href="https://www.tobiaswright.com">Return Home</a></li>
            <li class="inline mr-5"><a class="no-underline hover:no-underline text-black" href="https://www.linkedin.com/in/tobiaswright/" target="_blank">Linkedin</a></li>
            <li class="inline"><a class="no-underline hover:no-underline text-black" href="https://github.com/tobiaswright" target="_blank">Github</a></li>	
        </ul>
    </div>
    
    <p class="my-10 mx-5 m:mx-0 text-sm text-zinc-500 text-center">
        This is the website of Tobias Wright, solutions architect. Site built with <a href="https://astro.build/">Astro</a> and hosted by <a href="https://github.com/tobiaswright/tobiaswright.github.io">Github Pages.</a>
    </p>
</footer>