<header  class="bg-violet-900 relative flex justify-center flex-col items-center p-4">
    <h1 class="font-['Bangers'] text-9xl drop-shadow-[5px_5px_rgba(0,0,0,1)] text-white"><a href="/" class="no-underline hover:no-underline hover:text-white">Tobias Wright</a></h1>
    <h2 class="font-['Comic_Neue'] text-xl italic border-black outline border-4 p-1 bg-yellow-400 absolute -bottom-7 rounded">I like to build stuff for the internet</h2>
</header>