<header style="">
    <section class="bg-violet-900" style="display:flex;justify-content:center">
        <section class="relative" style="display:flex;flex-direction:column;justify-content:center;align-items:center">
            <h1 class="font-['Bangers'] text-9xl drop-shadow-[5px_5px_rgba(0,0,0,1)] text-white">Tobias Wright</h1>
            <h2 class="font-['Comic_Neue'] text-xl italic border-black outline border-4 p-1 bg-yellow-400 absolute -bottom-8 rounded">I like to build stuff for the internet</h2>
        </section>
    </section>
</header>