<nav class="hidden md:block mr-12">
    <ul class="list-none m-0">
        <li class="font-['Bangers'] text-2xl"><a class="no-underline hover:no-underline text-black" href="/#about">Home</a></li>
        <li class="font-['Bangers'] text-2xl"><a class="no-underline hover:no-underline text-black" href="/#projects">Projects</a></li>
        <li class="font-['Bangers'] text-2xl mb-4"><a class="no-underline hover:no-underline text-black" href="/writing">Writing</a></li>
        <li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="https://www.linkedin.com/in/tobiaswright/" target="_blank">Linkedin</a></li>
        <li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="https://github.com/tobiaswright" target="_blank">Github</a></li>
        <li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="/#now">Now</a></li>
      </ul>
    </nav>