---
const { header } = Astro.props;
---
<section class="mb-6 border-4 border-black border-solid rounded-sm pb-12 pt-0 mt-0">
    <h3 class="relative left-7 -top-4 font-['Bangers'] text-xl inline-block capitalize p-2 border-4 border-black border-solid bg-orange-50" id={header}>{ header }</h3>

    <div class="mx-12">
        <slot />
    </div>
    
</section>

