---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Tobias Wright. Projects">
        <h2>Projects</h2>
		<ul>
            <li>GusGorman.com</li>
            <li>NYT Big Viewer</li>
            <li>Awareness Color</li>
        </ul>
        <h2>Small Databases</h2>
        <ul>
            <li>African-American Programers in Television and Film</li>
            <li>Color Awareness Chart</li>
        </ul>
</Layout>