---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
			@import url('https://cdnjs.cloudflare.com/ajax/libs/reseter.css/1.0.8/reseter.min.css');

		</style>

		<title>{title}</title>
	</head>
	<body>
		<header style="">
			<section class="bg-violet-900" style="display:flex;justify-content:center">
				<section class="relative" style="display:flex;flex-direction:column;justify-content:center;align-items:center">
					<h1 class="font-['Bangers'] text-9xl drop-shadow-[5px_5px_rgba(0,0,0,1)] text-white">Tobias Wright</h1>
					<h2 class="font-['Comic_Neue'] text-xl italic border-black outline border-4 p-1 bg-yellow-400 absolute -bottom-8 rounded">I like to build stuff for the internet</h2>
				</section>
			</section>
		</header>

		<div class="my-5 flex flex-col md:flex-row md:space-x-4 md:space-y-0 max-w-5xl mx-auto">
			<aside class="w-32 px-5 py-5">
				<ul class="list-none">
					<li class="mainLink"><a class="no-underline hover:no-underline text-black" href="./#about">About</a></li>
					<li class="mainLink"><a class="no-underline hover:no-underline text-black" href="./#projects">Projects</a></li>
					<li class="mainLink mb-4"><a class="no-underline hover:no-underline text-black" href="./#writing">Writing</a></li>
					<li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="https://www.linkedin.com/in/tobiaswright/" target="_blank">Linkedin</a></li>
					<li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="https://github.com/tobiaswright" target="_blank">Github</a></li>
					<li class="font-['Comic_Neue'] text-base"><a class="no-underline hover:no-underline text-black" href="./now">Now</a></li>
				  </ul>
			</aside>
			<main class="w-full px-5 py-5">
				<slot />	
			</main>
		</div>

		<footer>
			<p class="text-zinc-400 text-center mb-10">
				This is the website of Tobias Wright, solutions architect. Site hosted by <a href="https://github.com/tobiaswright/tobiaswright.github.io">Github Pages.</a>
			</p>
		</footer>
		
	</body>
</html>


<style is:global>
.mainLink {
	@apply font-['Bangers'];
	@apply text-2xl;
	@apply last:mb-8
}
a {
	@apply hover:text-orange-500;
	@apply underline;
  }
  ul {
	  @apply mb-4 list-disc
  }
</style>
